################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DividendTaxes/bin/Debug/net6.0/wholeLkMessage.txt
/DividendTaxes/bin/Debug/net6.0/console.txt
